<h3 > What's on your Mind? </h3>
<form [formGroup]="postForm" (ngSubmit)=" onSubmit()"> 
    <mat-dialog-content> 
<mat-label>Title</mat-label>
    <mat-form-field>
            
            <input matInput formControlName="title">
          </mat-form-field>
     <mat-label>Content</mat-label>
          <mat-form-field>
           
            <textarea matInput formControlName="content"></textarea>
          </mat-form-field>
    
    </mat-dialog-content>
    
    
    <mat-dialog-actions> 
    <button mat-button mat-dialog-close> Close</button> 
    <button type="submit" mat-dialog-close> Submit</button> 
    
    </mat-dialog-actions>
</form>


