
  <div style="padding: 30px"> 
<button class="btn-new" mat-button (click)="onFormAction()"> New Post</button>
<mat-grid-list cols="4" rowHeight="2:1" style="padding: 5px">

        @for (post of posts; track $index) {

            <mat-grid-tile>
                <mat-card appearance="outlined"> 
                    <mat-card-header>  <span style="margin-left: 20px;">{{ post.title }}</span></mat-card-header> 
                    <mat-card-content class="cnt">{{post.content}} </mat-card-content>
                    <mat-card-actions align="end">
                        <button class="btn-update" mat-icon-button (click)="onUpdate(post)"><mat-icon>edit</mat-icon></button>    
                        <button class="btn-delete"  mat-icon-button  (click)="onDelete(post)"><mat-icon>delete</mat-icon></button>    
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>


        }
 
</mat-grid-list>

  </div>
  <div *ngFor="let post of posts">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <button (click)="onDelete(post)">Delete</button>
  </div>