<h3 class="top">Are you sure to delete this post?</h3>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
   <mat-label>Title</mat-label> 
   <mat-form-field>
      
      <input class="inp" matInput formControlName="title" readonly />
    </mat-form-field>
<mat-label>Content</mat-label>
    <mat-form-field>
      
      <input  class="inp" matInput formControlName="content" readonly />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="d-container">
    <button class="del"  type="submit" mat-dialog-close>Delete</button>
  </mat-dialog-actions>
</form>
